@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form>
    <div class="container">
        <h2>Sunrise Cafe</h2>
        <p></p>
        <img src="image_coffee.webp" class="img-circle" width="304" height="236">
    </div>

    





</form>

<p>Use this area to provide additional information</p>
