@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sunrise Cafe<br />
    Woodward Ave,Detroit, MI 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    586.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Sunrisecafe@gmail.com.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@sunrise.com">Marketing@example.com</a>
</address>